<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>MyFillter</filter-name>
        <filter-class>Fillter.MyFillter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFillter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ManagerProduct</servlet-name>
        <servlet-class>Controllers.ManagerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>Controllers.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>Controllers.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Controllers.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>Controllers.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controllers.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shopdetail</servlet-name>
        <servlet-class>Controllers.Shopdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controllers.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controllers.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orders</servlet-name>
        <servlet-class>Controllers.Orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controllers.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrder</servlet-name>
        <servlet-class>Controllers.AddToOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>Controllers.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget</servlet-name>
        <servlet-class>Controllers.Forget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Active</servlet-name>
        <servlet-class>Controllers.Active</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controllers.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>Controllers.DashBoard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerProduct</servlet-name>
        <url-pattern>/Admin/ManagerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Admin/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Admin/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Admin/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shopdetail</servlet-name>
        <url-pattern>/Shopdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Member/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orders</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/Member/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrder</servlet-name>
        <url-pattern>/Member/AddToOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/Member/DeleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget</servlet-name>
        <url-pattern>/Forget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Active</servlet-name>
        <url-pattern>/Active</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/Admin/DashBoard</url-pattern>
    </servlet-mapping>
</web-app>
